<div class="container p-5">
  <div class="row d-flex justify-content-center pt-lg-5 ">
    <div class="col-md-3 bg-light opacity-60 mt-5 p-5 hidetablet samer">
    </div>
    <div class="col-md-4 bg-white text-center samer p-5">
      <h1 style="font-size:30px;">Draw a number</h1>
      <p class="lead">What are your lucky number today?</p>
      <span class="p-5 d-flex justify-content-center"><p class='lead'>{{RandomNum}}</p></span>
      <button class="btn btn-light startbtn" type="submit" (click)="StartPick()" [disabled]="this.status_start">Start Now!</button>
      <button class="btn btn-light" type="submit" (click)="ResetAll()"  *ngIf="this.status_back">Return</button>
      <p class="pt-2" style="color:#21218e; font-size:14px;" *ngIf="this.beforestart">Click here for generate random number</p>
  </div>
  <div class="col-md-3 bg-light opacity-60 mt-5 samer hidetablet p-5">
  </div>
 </div>
</div>
